<div>
    <h1  id="exampleModalLabel">{{mantenimiento}} Camion</h1>
    </div>
    <div >
        <form novalidate (ngSubmit)=" grabar();" [formGroup]="formGroup">
            <div class="mb-3">
                <label for="nombre">Placa: </label>
                <input type="text" formControlName="placa" name="placa" placeholder="Escribe La Placa..." class="form-control rounded-0" />
            </div>
            <div class="mb-3">
                <label for="cedula">Ficha: </label>
                <input type="text" formControlName="ficha" name="ficha" placeholder="Colocar la ficha..." class="form-control rounded-0" />
            </div>
   
            <div>
                <button type="submit" class="btn btn-outline-primary">{{bntsubmit}}</button>
            </div>
        </form>
    </div>
    <div >
        <button type="button" (click)="cerrar2()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
                      
                 
    